# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=n3a

# neon-db 使用两个数据库
LANGCHAIN_DB=
PRISMA_DB=

OPENAI_API_KEY=
MIMO_API_KEY=

# Rate Limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=20
THROTTLE_ENABLED=true